In [51]:
import warnings
warnings.filterwarnings('ignore')
import glob
import os
import joblib
import pandas as pd
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations

from hyperopt.pyll.base import scope
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe
import lightgbm as lgb
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
import xgboost as xgb
from catboost import Pool, CatBoostClassifier
from kaggler.model import AutoLGB
from sklearn.model_selection import StratifiedKFold, KFold, GridSearchCV, StratifiedShuffleSplit, train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, log_loss
import random

XGBoostError: XGBoost Library (libxgboost.dylib) could not be loaded.
Likely causes:
  * OpenMP runtime is not installed (vcomp140.dll or libgomp-1.dll for Windows, libomp.dylib for Mac OSX, libgomp.so for Linux and other UNIX-like OSes). Mac OSX users: Run `brew install libomp` to install OpenMP runtime.
  * You are running 32-bit Python on a 64-bit OS
Error message(s): ['dlopen(/Users/hongb/opt/miniconda3/envs/test/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib, 6): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib\n  Referenced from: /Users/hongb/opt/miniconda3/envs/test/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib\n  Reason: image not found']

# 1. 문제 정의

# 2. 데이터 수집

## (1) 데이콘 기본 데이터

In [100]:
train = pd.read_csv('data/train.csv').drop(['index'], axis=1).fillna('NAN')
test = pd.read_csv('data/test.csv').drop(['index'], axis=1).fillna('NAN')
sample_submission = pd.read_csv('data/sample_submission.csv')

# 3. 탐색적 데이터 분석

In [55]:
train.head()

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,DAYS_BIRTH_month,DAYS_BIRTH_week,DAYS_EMPLOYED_month,DAYS_EMPLOYED_week,before_EMPLOYED,before_EMPLOYED_month,before_EMPLOYED_week,1new_1,2new_1,10new_1,11new_1,12new_1,13new_1,14new_1,15new_1,new_1,new_2,new_3,new_4,new_6,log1p_income_total,credit
0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NAN,2.0,-6.0,7.0,1.0,0.0,0.0,-9190,6.0,0.0,0.000035,0.000005,0.000000,0.000000,-0.045383,0.000030,0.000000,101250.0,0.000000,0.000010,-0.068637,-0.023254,0.338801,12.218500,1.0
1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,7.0,1.0,3.0,0.0,-9840,4.0,1.0,0.000028,0.000004,0.000012,0.000000,-0.039758,0.000016,0.000004,82500.0,0.000004,0.000012,-0.045980,-0.006222,0.135325,12.419170,1.0
2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,0.0,2.0,3.0,1.0,-14653,8.0,1.0,0.000000,0.000004,0.000007,0.000002,-0.032562,0.000018,0.000002,225000.0,0.000000,0.000004,-0.042416,-0.009853,0.232305,13.017005,2.0
3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,10.0,3.0,9.0,2.0,-12996,1.0,0.0,0.000049,0.000015,0.000044,0.000010,-0.064178,0.000005,0.000000,101250.0,0.000000,0.000010,-0.074509,-0.010331,0.138653,12.218500,0.0
4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,9.0,0.0,10.0,0.0,-12932,11.0,3.0,0.000057,0.000000,0.000063,0.000000,-0.082108,0.000070,0.000019,78750.0,0.000000,0.000013,-0.095473,-0.013365,0.139988,11.967187,2.0

# 4. 변수 조정

In [58]:
merge_data['DAYS_BIRTH_month']

0        7.0
1        7.0
2        0.0
3       10.0
4        9.0
        ...
9995     7.0
9996     2.0
9997     4.0
9998    11.0
9999     5.0
Name: DAYS_BIRTH_month, Length: 36457, dtype: float64

In [59]:
merge_data['DAYS_BIRTH_week']

0       1.0
1       1.0
2       2.0
3       3.0
4       0.0
       ...
9995    0.0
9996    3.0
9997    2.0
9998    3.0
9999    3.0
Name: DAYS_BIRTH_week, Length: 36457, dtype: float64

In [101]:
# train데이터와 test데이터 변수를 함께 조정하기 위해 병합
merge_data = pd.concat([train, test], axis = 0)

# DAYS_BIRTH
merge_data['DAYS_BIRTH_month']=np.floor((-merge_data['DAYS_BIRTH'])/30)-(
    (np.floor((-merge_data['DAYS_BIRTH'])/30)/12).astype(int)*12)
merge_data['DAYS_BIRTH_week']=np.floor((-merge_data['DAYS_BIRTH'])/7)-(
    (np.floor((-merge_data['DAYS_BIRTH'])/7)/4).astype(int)*4)

# DAYS_EMPLOYED
merge_data['DAYS_EMPLOYED_month']=np.floor((-merge_data['DAYS_EMPLOYED'])/30)-(
    (np.floor((-merge_data['DAYS_EMPLOYED'])/30)/12).astype(int)*12)
merge_data['DAYS_EMPLOYED_week']=np.floor((-merge_data['DAYS_EMPLOYED'])/7)-(
    (np.floor((-merge_data['DAYS_EMPLOYED'])/7)/4).astype(int)*4)

# before_EMPLOYED
merge_data['before_EMPLOYED']=merge_data['DAYS_BIRTH']-merge_data['DAYS_EMPLOYED']
merge_data['before_EMPLOYED_month']=np.floor((-merge_data['before_EMPLOYED'])/30)-(
    (np.floor((-merge_data['before_EMPLOYED'])/30)/12).astype(int)*12)
merge_data['before_EMPLOYED_week']=np.floor((-merge_data['before_EMPLOYED'])/7)-(
    (np.floor((-merge_data['before_EMPLOYED'])/7)/4).astype(int)*4)

# DAYS_BIRTH
merge_data['1new_1'] = merge_data['DAYS_BIRTH_month'] / merge_data['income_total']
merge_data['2new_1'] = merge_data['DAYS_BIRTH_week'] / merge_data['income_total']

# DAYS_EMPLOYED
merge_data['10new_1'] = merge_data['DAYS_EMPLOYED_month'] / merge_data['income_total']
merge_data['11new_1'] = merge_data['DAYS_EMPLOYED_week'] / merge_data['income_total']

# before_EMPLOYED
merge_data['12new_1'] = merge_data['before_EMPLOYED'] / merge_data['income_total']
merge_data['13new_1'] = merge_data['before_EMPLOYED_month'] / merge_data['income_total']
merge_data['14new_1'] = merge_data['before_EMPLOYED_week'] / merge_data['income_total']

# 총 수익을 가족 수로 나누기
merge_data['15new_1'] = merge_data['income_total'] / merge_data['family_size']

# 융합 삭제
#merge_data['3new_1'] = merge_data['DAYS_EMPLOYED_month'] / merge_data['DAYS_BIRTH_month']
#merge_data['4new_1'] = merge_data['DAYS_EMPLOYED_month'] / merge_data['DAYS_BIRTH_week']
#merge_data['5new_1'] = merge_data['DAYS_EMPLOYED_week'] / merge_data['DAYS_BIRTH_month']
#merge_data['6new_1'] = merge_data['DAYS_EMPLOYED_week'] / merge_data['DAYS_BIRTH_week']

#merge_data['7new_1'] =  merge_data['begin_month'] / merge_data['DAYS_BIRTH_month']
#merge_data['8new_1'] =  merge_data['begin_month'] / merge_data['DAYS_EMPLOYED_month']
#merge_data['9new_1'] =  merge_data['begin_month'] / merge_data['before_EMPLOYED_month']

merge_data['new_1'] = merge_data['child_num'] / merge_data['income_total']
merge_data['new_2'] = merge_data['family_size'] / merge_data['income_total']
merge_data['new_3'] = merge_data['DAYS_BIRTH'] / merge_data['income_total']
merge_data['new_4'] = merge_data['DAYS_EMPLOYED'] / merge_data['income_total']
#merge_data['new_5'] = merge_data['begin_month'] / merge_data['income_total']
merge_data['new_6'] =  merge_data['DAYS_EMPLOYED'] / merge_data['DAYS_BIRTH']

# 소득 skewed-data 처리
merge_data['log1p_income_total'] = np.log1p(merge_data['income_total'])
#merge_data['log_income_total'] = np.log(merge_data['income_total'])
#merge_data['sqrt_income_total'] = np.sqrt(merge_data['income_total'])
#merge_data['boxcox_income_total'] = stats.boxcox(merge_data['income_total'])[0]

merge_data = merge_data.fillna(-999)
train = merge_data[merge_data['credit'] != -999]
test = merge_data[merge_data['credit'] == -999]
test.drop('credit', axis = 1, inplace = True)

train_cols = list(train.columns); train_cols.remove('credit'); train_cols.append('credit')
train = train[train_cols]

In [54]:
merge_data

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit,DAYS_BIRTH_month,DAYS_BIRTH_week,DAYS_EMPLOYED_month,DAYS_EMPLOYED_week,before_EMPLOYED,before_EMPLOYED_month,before_EMPLOYED_week,1new_1,2new_1,10new_1,11new_1,12new_1,13new_1,14new_1,15new_1,new_1,new_2,new_3,new_4,new_6,log1p_income_total
0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NAN,2.0,-6.0,1.0,7.0,1.0,0.0,0.0,-9190,6.0,0.0,0.000035,0.000005,0.000000,0.000000,-0.045383,0.000030,0.000000,101250.0,0.000000,0.000010,-0.068637,-0.023254,0.338801,12.218500
1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0,7.0,1.0,3.0,0.0,-9840,4.0,1.0,0.000028,0.000004,0.000012,0.000000,-0.039758,0.000016,0.000004,82500.0,0.000004,0.000012,-0.045980,-0.006222,0.135325,12.419170
2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0,0.0,2.0,3.0,1.0,-14653,8.0,1.0,0.000000,0.000004,0.000007,0.000002,-0.032562,0.000018,0.000002,225000.0,0.000000,0.000004,-0.042416,-0.009853,0.232305,13.017005
3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0,10.0,3.0,9.0,2.0,-12996,1.0,0.0,0.000049,0.000015,0.000044,0.000010,-0.064178,0.000005,0.000000,101250.0,0.000000,0.000010,-0.074509,-0.010331,0.138653,12.218500
4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0,9.0,0.0,10.0,0.0,-12932,11.0,3.0,0.000057,0.000000,0.000063,0.000000,-0.082108,0.000070,0.000019,78750.0,0.000000,0.000013,-0.095473,-0.013365,0.139988,11.967187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,F,Y,Y,0,202500.0,Working,Incomplete higher,Married,House / apartment,-18593,-5434,1,1,1,0,Accountants,2.0,-19.0,-999.0,7.0,0.0,1.0,0.0,-13159,6.0,3.0,0.000035,0.000000,0.000005,0.000000,-0.064983,0.000030,0.000015,101250.0,0.000000,0.000010,-0.091817,-0.026835,0.292261,12.218500
9996,M,Y,Y,0,202500.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-10886,-1315,1,1,0,0,Laborers,2.0,-34.0,-999.0,2.0,3.0,7.0,3.0,-9571,7.0,3.0,0.000010,0.000015,0.000035,0.000015,-0.047264,0.000035,0.000015,101250.0,0.000000,0.000010,-0.053758,-0.006494,0.120797,12.218500
9997,F,N,Y,0,292500.0,Working,Secondary / secondary special,Married,House / apartment,-21016,-14018,1,0,0,0,Medicine staff,2.0,-55.0,-999.0,4.0,2.0,11.0,2.0,-6998,5.0,3.0,0.000014,0.000007,0.000038,0.000007,-0.023925,0.000017,0.000010,146250.0,0.000000,0.000007,-0.071850,-0.047925,0.667016,12.586223
9998,F,Y,N,0,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-16541,-1085,1,0,1,0,NAN,2.0,-33.0,-999.0,11.0,3.0,0.0,3.0,-15456,11.0,0.0,0.000061,0.000017,0.000000,0.000017,-0.085867,0.000061,0.000000,90000.0,0.000000,0.000011,-0.091894,-0.006028,0.065595,12.100718
9999,F,N,Y,0,270000.0,Working,Higher education,Married,House / apartment,-9154,-187,1,0,0,1,Laborers,2.0,-11.0,-999.0,5.0,3.0,6.0,2.0,-8967,10.0,1.0,0.000019,0.000011,0.000022,0.000007,-0.033211,0.000037,0.000004,135000.0,0.000000,0.000007,-0.033904,-0.000693,0.020428,12.506181

### occyp_type = 'NAN' 값들의 income_type

In [60]:
train[train.occyp_type=='NAN'].income_type.value_counts()

Pensioner               4440
Working                 2312
Commercial associate    1026
State servant            392
Student                    1
Name: income_type, dtype: int64

In [61]:
train.income_type.value_counts()

Working                 13645
Commercial associate     6202
Pensioner                4449
State servant            2154
Student                     7
Name: income_type, dtype: int64

In [62]:
train.occyp_type.value_counts()

NAN                      8171
Laborers                 4512
Core staff               2646
Sales staff              2539
Managers                 2167
Drivers                  1575
High skill tech staff    1040
Accountants               902
Medicine staff            864
Cooking staff             457
Security staff            424
Cleaning staff            403
Private service staff     243
Low-skill Laborers        127
Waiters/barmen staff      124
Secretaries                97
Realty agents              63
HR staff                   62
IT staff                   41
Name: occyp_type, dtype: int64

In [86]:
train.head()

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,DAYS_BIRTH_month,DAYS_BIRTH_week,DAYS_EMPLOYED_month,DAYS_EMPLOYED_week,before_EMPLOYED,before_EMPLOYED_month,before_EMPLOYED_week,1new_1,2new_1,10new_1,11new_1,12new_1,13new_1,14new_1,15new_1,new_1,new_2,new_3,new_4,new_6,log1p_income_total,credit
0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NAN,2.0,-6.0,7.0,1.0,0.0,0.0,-9190,6.0,0.0,0.000035,0.000005,0.000000,0.000000,-0.045383,0.000030,0.000000,101250.0,0.000000,0.000010,-0.068637,-0.023254,0.338801,12.218500,1.0
1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,7.0,1.0,3.0,0.0,-9840,4.0,1.0,0.000028,0.000004,0.000012,0.000000,-0.039758,0.000016,0.000004,82500.0,0.000004,0.000012,-0.045980,-0.006222,0.135325,12.419170,1.0
2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,0.0,2.0,3.0,1.0,-14653,8.0,1.0,0.000000,0.000004,0.000007,0.000002,-0.032562,0.000018,0.000002,225000.0,0.000000,0.000004,-0.042416,-0.009853,0.232305,13.017005,2.0
3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,10.0,3.0,9.0,2.0,-12996,1.0,0.0,0.000049,0.000015,0.000044,0.000010,-0.064178,0.000005,0.000000,101250.0,0.000000,0.000010,-0.074509,-0.010331,0.138653,12.218500,0.0
4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,9.0,0.0,10.0,0.0,-12932,11.0,3.0,0.000057,0.000000,0.000063,0.000000,-0.082108,0.000070,0.000019,78750.0,0.000000,0.000013,-0.095473,-0.013365,0.139988,11.967187,2.0

In [104]:
train_copy = train

In [107]:
train.loc[(train['income_type'] == 'Pensioner')&(train['occyp_type'] == 'NAN'), "occyp_type"] = "nan_pen"

In [114]:
train.head(20)

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,DAYS_BIRTH_month,DAYS_BIRTH_week,DAYS_EMPLOYED_month,DAYS_EMPLOYED_week,before_EMPLOYED,before_EMPLOYED_month,before_EMPLOYED_week,1new_1,2new_1,10new_1,11new_1,12new_1,13new_1,14new_1,15new_1,new_1,new_2,new_3,new_4,new_6,log1p_income_total,credit
0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NAN,2.0,-6.0,7.0,1.0,0.0,0.0,-9190,6.0,0.0,0.000035,0.000005,0.000000,0.000000,-0.045383,0.000030,0.000000,101250.0,0.000000,0.000010,-0.068637,-0.023254,0.338801,12.218500,1.0
1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,7.0,1.0,3.0,0.0,-9840,4.0,1.0,0.000028,0.000004,0.000012,0.000000,-0.039758,0.000016,0.000004,82500.0,0.000004,0.000012,-0.045980,-0.006222,0.135325,12.419170,1.0
2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,0.0,2.0,3.0,1.0,-14653,8.0,1.0,0.000000,0.000004,0.000007,0.000002,-0.032562,0.000018,0.000002,225000.0,0.000000,0.000004,-0.042416,-0.009853,0.232305,13.017005,2.0
3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,10.0,3.0,9.0,2.0,-12996,1.0,0.0,0.000049,0.000015,0.000044,0.000010,-0.064178,0.000005,0.000000,101250.0,0.000000,0.000010,-0.074509,-0.010331,0.138653,12.218500,0.0
4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,9.0,0.0,10.0,0.0,-12932,11.0,3.0,0.000057,0.000000,0.000063,0.000000,-0.082108,0.000070,0.000019,78750.0,0.000000,0.000013,-0.095473,-0.013365,0.139988,11.967187,2.0
5,F,N,Y,2,270000.0,Working,Secondary / secondary special,Married,House / apartment,-13413,-4996,1,0,0,1,High skill tech staff,4.0,-18.0,3.0,0.0,10.0,1.0,-8417,4.0,2.0,0.000011,0.000000,0.000037,0.000004,-0.031174,0.000015,0.000007,67500.0,0.000007,0.000015,-0.049678,-0.018504,0.372474,12.506181,1.0
6,F,N,N,0,315000.0,Working,Secondary / secondary special,Separated,House / apartment,-17570,-1978,1,0,0,1,Core staff,1.0,-41.0,9.0,2.0,5.0,2.0,-15592,3.0,3.0,0.000029,0.000006,0.000016,0.000006,-0.049498,0.000010,0.000010,315000.0,0.000000,0.000003,-0.055778,-0.006279,0.112578,12.660331,2.0
7,M,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-14896,-5420,1,0,0,1,Drivers,2.0,-53.0,4.0,0.0,0.0,2.0,-9476,3.0,1.0,0.000015,0.000000,0.000000,0.000007,-0.035096,0.000011,0.000004,135000.0,0.000000,0.000007,-0.055170,-0.020074,0.363856,12.506181,0.0
8,M,Y,Y,1,180000.0,Commercial associate,Higher education,Married,House / apartment,-15131,-1466,1,0,0,1,NAN,3.0,-38.0,0.0,1.0,0.0,1.0,-13665,11.0,0.0,0.000000,0.000006,0.000000,0.000006,-0.075917,0.000061,0.000000,60000.0,0.000006,0.000017,-0.084061,-0.008144,0.096887,12.100718,2.0
9,F,N,Y,0,103500.0,Working,Secondary / secondary special,Married,House / apartment,-15785,-1308,1,0,0,0,Medicine staff,2.0,-5.0,10.0,3.0,7.0,2.0,-14477,2.0,0.0,0.000097,0.000029,0.000068,0.000019,-0.139874,0.000019,0.000000,51750.0,0.000000,0.000019,-0.152512,-0.012638,0.082863,11.547337,2.0
10,F,N,Y,0,193500.0,Working,Secondary / secondary special,Separated,House / apartment,-19063,-2213,1,1,1,1,Laborers,1.0,-40.0,11.0,3.0,1.0,0.0,-16850,9.0,3.0,0.000057,0.000016,0.000005,0.000000,-0.087080,0.000047,0.000016,193500.0,0.000000,0.000005,-0.098517,-0.011437,0.116089,12.173038,2.0
11,M,Y,Y,1,135000.0,Commercial associate,Higher education,Married,House / apartment,-11759,-91,1,0,0,0,Managers,3.0,-51.0,7.0,3.0,3.0,1.0,-11668,4.0,2.0,0.000052,0.000022,0.000022,0.000007,-0.086430,0.000030,0.000015,45000.0,0.000007,0.000022,-0.087104,-0.000674,0.007739,11.813037,2.0
12,F,Y,Y,1,157500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-11938,-2162,1,0,0,0,Accountants,3.0,-60.0,1.0,1.0,0.0,0.0,-9776,1.0,0.0,0.000006,0.000006,0.000000,0.000000,-0.062070,0.000006,0.000000,52500.0,0.000006,0.000019,-0.075797,-0.013727,0.181102,11.967187,0.0
13,F,N,N,0,135000.0,Working,Higher education,Married,House / apartment,-9887,-2474,1,0,1,0,Sales staff,2.0,-41.0,5.0,0.0,10.0,1.0,-7413,7.0,3.0,0.000037,0.000000,0.000074,0.000007,-0.054911,0.000052,0.000022,67500.0,0.000000,0.000015,-0.073237,-0.018326,0.250228,11.813037,2.0
14,F,N,Y,0,157500.0,Pensioner,Secondary / secondary special,Single / not married,House / apartment,-22922,365243,1,0,1,0,nan_pen,1.0,-41.0,8.0,2.0,-7.0,-2.0,-388165,2.0,0.0,0.000051,0.000013,-0.000044,-0.000013,-2.464540,0.000013,0.000000,157500.0,0.000000,0.000006,-0.145537,2.319003,-15.934168,11.967187,2.0
15,M,Y,Y,2,157500.0,Working,Secondary / secondary special,Married,With parents,-12859,-4056,1,0,1,0,Drivers,4.0,-60.0,8.0,1.0,3.0,3.0,-8803,5.0,1.0,0.000051,0.000006,0.000019,0.000019,-0.055892,0.000032,0.000006,39375.0,0.000013,0.000025,-0.081644,-0.025752,0.315421,11.967187,0.0
16,M,N,Y,0,180000.0,Working,Secondary / secondary special,Married,House / apartment,-19408,-4553,1,0,1,0,Laborers,2.0,-2.0,10.0,0.0,7.0,2.0,-14855,3.0,2.0,0.000056,0.000000,0.000039,0.000011,-0.082528,0.000017,0.000011,90000.0,0.000000,0.000011,-0.107822,-0.025294,0.234594,12.100718,1.0
17,M,N,N,0,270000.0,Commercial associate,Secondary / secondary special,Civil marriage,With parents,-8853,-984,1,0,0,1,Sales staff,2.0,-14.0,7.0,0.0,8.0,0.0,-7869,10.0,0.0,0.000026,0.000000,0.000030,0.000000,-0.029144,0.000037,0.000000,135000.0,0.000000,0.000007,-0.032789,-0.003644,0.111149,12.506181,2.0
18,F,N,Y,0,216000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-23113,365243,1,0,0,0,nan_pen,2.0,-37.0,2.0,1.0,-7.0,-2.0,-388356,9.0,3.0,0.000009,0.000005,-0.000032,-0.000009,-1.797944,0.000042,0.000014,108000.0,0.000000,0.000009,-0.107005,1.690940,-15.802492,12.283038,2.0
19,F,N,Y,0,180000.0,Working,Secondary / secondary special,Married,House / apartment,-13727,-6031,1,0,0,0,NAN,2.0,-7.0,1.0,1.0,9.0,1.0,-7696,4.0,3.0,0.000006,0.000006,0.000050,0.000006,-0.042756,0.000022,0.000017,90000.0,0.000000,0.000011,-0.076261,-0.033506,0.439353,12.100718,2.0

In [110]:
train['occyp_type']

0                   NAN
1              Laborers
2              Managers
3           Sales staff
4              Managers
              ...
26452        Core staff
26453               NAN
26454        Core staff
26455          Laborers
26456    Security staff
Name: occyp_type, Length: 26457, dtype: object

In [68]:
oc = train[['income_type','occyp_type']].pivot_table(index='income_type',columns='occyp_type',aggfunc='size').fillna(0).T

oc # income_type에 따른 oocyp_type

income_type,Commercial associate,Pensioner,State servant,Student,Working
occyp_type,,,,,
Accountants,363.0,1.0,69.0,0.0,469.0
Cleaning staff,80.0,0.0,16.0,0.0,307.0
Cooking staff,92.0,0.0,41.0,0.0,324.0
Core staff,609.0,2.0,655.0,4.0,1376.0
Drivers,418.0,1.0,87.0,0.0,1069.0
HR staff,21.0,0.0,3.0,0.0,38.0
High skill tech staff,306.0,0.0,148.0,0.0,586.0
IT staff,15.0,0.0,6.0,0.0,20.0
Laborers,1075.0,3.0,142.0,2.0,3290.0
Low-skill Laborers,33.0,0.0,3.0,0.0,91.0
Managers,846.0,1.0,226.0,0.0,1094.0
Medicine staff,127.0,1.0,274.0,0.0,462.0
NAN,1026.0,4440.0,392.0,1.0,2312.0
Private service staff,96.0,0.0,15.0,0.0,132.0
Realty agents,43.0,0.0,0.0,0.0,20.0
Sales staff,860.0,0.0,10.0,0.0,1669.0
Secretaries,14.0,0.0,22.0,0.0,61.0
Security staff,138.0,0.0,14.0,0.0,272.0
Waiters/barmen staff,40.0,0.0,31.0,0.0,53.0

In [85]:
ocratio =oc/(np.ones((oc.shape))*oc.sum(axis=1).values.reshape(-1,1))*100
ocratio

income_type,Commercial associate,Pensioner,State servant,Student,Working
occyp_type,,,,,
Accountants,40.243902,0.110865,7.649667,0.000000,51.995565
Cleaning staff,19.851117,0.000000,3.970223,0.000000,76.178660
Cooking staff,20.131291,0.000000,8.971554,0.000000,70.897155
Core staff,23.015873,0.075586,24.754346,0.151172,52.003023
Drivers,26.539683,0.063492,5.523810,0.000000,67.873016
HR staff,33.870968,0.000000,4.838710,0.000000,61.290323
High skill tech staff,29.423077,0.000000,14.230769,0.000000,56.346154
IT staff,36.585366,0.000000,14.634146,0.000000,48.780488
Laborers,23.825355,0.066489,3.147163,0.044326,72.916667
Low-skill Laborers,25.984252,0.000000,2.362205,0.000000,71.653543
Managers,39.040148,0.046147,10.429165,0.000000,50.484541
Medicine staff,14.699074,0.115741,31.712963,0.000000,53.472222
NAN,12.556603,54.338514,4.797454,0.012238,28.295190
Private service staff,39.506173,0.000000,6.172840,0.000000,54.320988
Realty agents,68.253968,0.000000,0.000000,0.000000,31.746032
Sales staff,33.871603,0.000000,0.393856,0.000000,65.734541
Secretaries,14.432990,0.000000,22.680412,0.000000,62.886598
Security staff,32.547170,0.000000,3.301887,0.000000,64.150943
Waiters/barmen staff,32.258065,0.000000,25.000000,0.000000,42.741935

In [71]:
train[train.income_type =='State servant'].credit.value_counts()

2.0    1400
1.0     489
0.0     265
Name: credit, dtype: int64

In [83]:
ocratio =(np.ones((oc.shape))*oc.sum(axis=1).values.reshape(-1,1))/oc

In [84]:
ocratio

income_type,Commercial associate,Pensioner,State servant,Student,Working
occyp_type,,,,,
Accountants,2.484848,902.000000,13.072464,inf,1.923241
Cleaning staff,5.037500,inf,25.187500,inf,1.312704
Cooking staff,4.967391,inf,11.146341,inf,1.410494
Core staff,4.344828,1323.000000,4.039695,661.5,1.922965
Drivers,3.767943,1575.000000,18.103448,inf,1.473340
HR staff,2.952381,inf,20.666667,inf,1.631579
High skill tech staff,3.398693,inf,7.027027,inf,1.774744
IT staff,2.733333,inf,6.833333,inf,2.050000
Laborers,4.197209,1504.000000,31.774648,2256.0,1.371429
Low-skill Laborers,3.848485,inf,42.333333,inf,1.395604
Managers,2.561466,2167.000000,9.588496,inf,1.980804
Medicine staff,6.803150,864.000000,3.153285,inf,1.870130
NAN,7.963938,1.840315,20.844388,8171.0,3.534170
Private service staff,2.531250,inf,16.200000,inf,1.840909
Realty agents,1.465116,inf,inf,inf,3.150000
Sales staff,2.952326,inf,253.900000,inf,1.521270
Secretaries,6.928571,inf,4.409091,inf,1.590164
Security staff,3.072464,inf,30.285714,inf,1.558824
Waiters/barmen staff,3.100000,inf,4.000000,inf,2.339623

train = train[train['child_num']<=6].reset_index(drop=True) # 아이의 수가 7명 이상인 데이터 제거

## 인코딩

In [ ]:

train_oh = train.copy()
train_noh = train.copy()
test_oh = test.copy()
test_noh = test.copy()

In [ ]:
object_col = []
for col in train_noh.columns:
    if train_noh[col].dtype == 'object':
        train_noh[col] = train_noh[col].astype('category')
        test_noh[col] = test_noh[col].astype('category')

In [ ]:
object_col = []
for col in train_oh.columns:
    if train_oh[col].dtype == 'object':
        object_col.append(col)
print(object_col)        
enc = OneHotEncoder()
enc.fit(train.loc[:,object_col])


train_onehot_df = pd.DataFrame(enc.transform(train_oh.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
train_oh.drop(object_col, axis=1, inplace=True)
train_oh = pd.concat([train_oh, train_onehot_df], axis=1)    

test_onehot_df = pd.DataFrame(enc.transform(test_oh.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
test_oh.drop(object_col, axis=1, inplace=True)
test_oh = pd.concat([test_oh, test_onehot_df], axis=1)

## Feature 하나씩 빼면서 성능 체크

변수 하나씩 제거하면서 성능 체크<br>
제거하여 성능이 좋게 나온 것들은 리스트에 따로 저장해두기

In [ ]:
train_x = train_noh.drop(['credit'], axis=1)
train_y = train_noh['credit']
test_x = test_noh.copy()

In [ ]:
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)
cv = np.zeros((train_x.shape[0], 3))
for n, (train_idx, val_idx) in enumerate(kfold.split(train_x, train_y)):
    x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
    y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]
    lgbm = LGBMClassifier(n_estimators=1000, objective='multiclass')
    lgbm.fit(x_train, y_train, eval_set=[(x_val, y_val)], early_stopping_rounds=30, verbose=None)
    cv[val_idx] = lgbm.predict_proba(x_val)
print(f'Initial_multi_logloss: {log_loss(train_y, cv)}')
remove_features = []
for i in range(1, 2):
    for j in combinations(list(range(0, train_x.shape[1])), i):
        train_new_x = train_x.drop(train_x.columns[list(j)], axis=1)
        
        kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)
        cv = np.zeros((train_new_x.shape[0], 3))
        for n, (train_idx, val_idx) in enumerate(kfold.split(train_new_x, train_y)):
            x_train, x_val = train_new_x.iloc[train_idx], train_new_x.iloc[val_idx]
            y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]
            lgbm = LGBMClassifier(n_estimators=1000, objective='multiclass')
            lgbm.fit(x_train, y_train, eval_set=[(x_val, y_val)], early_stopping_rounds=30, verbose=None)
            cv[val_idx] = lgbm.predict_proba(x_val)
        print(f'{j} multi_logloss: {log_loss(train_y, cv)}')
        if log_loss(train_y, cv)<0.708:
            remove_features.append(list(j)[0])

## 저장한 변수 지우는 코드

In [ ]:
remove_features = [1, 3, 4, 8, 11, 32]
train = train.drop(train.columns[remove_features], axis=1)
test = test.drop(test.columns[remove_features], axis=1)

## 다시 인코딩

In [ ]:
train_oh = train.copy()
train_noh = train.copy()
test_oh = test.copy()
test_noh = test.copy()

In [ ]:
object_col = []
for col in train_noh.columns:
    if train_noh[col].dtype == 'object':
        train_noh[col] = train_noh[col].astype('category')
        test_noh[col] = test_noh[col].astype('category')

In [ ]:
object_col = []
for col in train_oh.columns:
    if train_oh[col].dtype == 'object':
        object_col.append(col)
print(object_col)        
enc = OneHotEncoder()
enc.fit(train.loc[:,object_col])


train_onehot_df = pd.DataFrame(enc.transform(train_oh.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
train_oh.drop(object_col, axis=1, inplace=True)
train_oh = pd.concat([train_oh, train_onehot_df], axis=1)    

test_onehot_df = pd.DataFrame(enc.transform(test_oh.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
test_oh.drop(object_col, axis=1, inplace=True)
test_oh = pd.concat([test_oh, test_onehot_df], axis=1)

# 6. 모델 학습

In [ ]:
pred_dict = {}
pred_test_dict = {}

## (1) Lightgbm

In [ ]:
train_x = train_noh.drop(['credit'], axis=1)
train_y = train_noh['credit']
test_x = test_noh.copy()

### Parameter Tuning

In [ ]:
SEED=42

# Hyperopt의 metric함수를 StratifiedKFold(cv=5)로 구하기
def score(params):
    print("Training with params: ")
    print(params)
    
    kfold = StratifiedKFold(n_splits=5, random_state = SEED, shuffle = True)
    cv = np.zeros((train_x.shape[0], 3))

    for n, (train_idx, val_idx) in enumerate(kfold.split(train_x, train_y)):
        
        x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
        y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]

        lgbmodel = LGBMClassifier(**params)

        lgbmodel.fit(x_train, y_train, eval_set=[(x_val, y_val)], early_stopping_rounds=30, verbose=100) 
        cv[val_idx, :] = lgbmodel.predict_proba(x_val)
        print(f'fold{n+1} multi_logloss: {log_loss(y_val, cv[val_idx, :])}')
    print('multi_logloss:', log_loss(train_y, cv))
    score = log_loss(train_y, cv)
    return {'loss': score, 'status': STATUS_OK}

# Hyperopt의 범위를 지정해주고 max_evals만큼 반복한 후 최적의 파라미터를 반환
def optimize(random_state=SEED):
    
#     param = {'objective':'multi:softprob', 'seed':SEED, 'num_class': 3, 'eval_metric':'mlogloss', 
#          'eta': 0.01, 'min_child_weight': 3,
#          'colsample_bytree': 0.3, 'colsample_bylevel': 0.6, 'subsample': 0.8
#         }
    space = {
        'learning_rate': hp.quniform('learning_rate', 0.003, 0.006, 0.001),
        #'learning_rate' : 0.005,
        'num_leaves': scope.int(hp.quniform('num_leaves', 1000, 1200, 50)),
        'num_leaves' : 1000,
        #'min_child_weight': hp.quniform('min_child_weight', 1, 3, 1),
        'min_child_weight' : 2,
        #'subsample': hp.quniform('subsample', 0.8, 1, 0.05),
        'subsample' : 1,
        'colsample_bytree': hp.quniform('colsample_bytree', 0.3, 0.7, 0.05),
        #'colsample_bytree' : 0.4,
        'max_depth' : -1,
        'n_estimators' : 5000,
        'objective' : 'multiclass',
        'num_class' : 3,
        'seed': SEED,
    }
    # Use the fmin function from Hyperopt to find the best hyperparameters
    best = fmin(score, space, algo=tpe.suggest, 
                # trials=trials, 
                max_evals=12)
    return best

best_hyperparams = optimize()
print("The best hyperparameters are: ", "\n")
print(best_hyperparams)

### 3 seeds x 5 folds

In [ ]:
lucky_seeds=[42] # Lucky seed 늘려가면서 하기
for i, seed in enumerate(lucky_seeds):

    kfold = StratifiedKFold(n_splits=5, random_state = seed, shuffle = True) # CV 늘려가면서 하기
    cv=np.zeros((train_x.shape[0], 3))
    pred_test = np.zeros((test_x.shape[0], 3), dtype=float)
    
    for n, (train_idx, val_idx) in enumerate(kfold.split(train_x, train_y)):

        x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
        y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]
        
        lgbmodel = LGBMClassifier(learning_rate=0.1, objective='multiclass', n_estimators=10000, num_leaves=1000, 
                                  max_depth=-1, min_child_weight=2, colsample_bytree=0.55,  
                                   n_jobs=-1, random_state=seed)

        lgbmodel.fit(x_train, y_train, eval_set=[(x_val, y_val)], early_stopping_rounds=30, verbose=100) 
        #joblib.dump(lgbmodel, f'./pred_pkl/LGB_{n+1}_fold_{seed}_seed_lgb.pkl')

        # CROSS-VALIDATION , EVALUATE CV
        cv[val_idx,:] = lgbmodel.predict_proba(x_val)
        pred_test += lgbmodel.predict_proba(test_x) / 5 # CV 바꾸면 이 숫자도 똑같이 바꿔야함
    pred_dict['lgb'+str(i+1)] = cv
    pred_test_dict['lgb'+str(i+1)] = pred_test
        
    print('multi_logloss :', log_loss(train_y, cv))

lgbmodels_path = os.listdir('./pred_pkl/')
lgbmodels_list = [x for x in lgbmodels_path if x.endswith("lgb.pkl")]
assert len(lgbmodels_list) == 15
lgb_preds = np.zeros((test_x.shape[0], 3))

for m in lgbmodels_list:
    lgbmodel = joblib.load('./pred_pkl/'+m)
    lgb_preds_proba = lgbmodel.predict_proba(test)
    lgb_preds += lgb_preds_proba/15

# 결과 제출

In [ ]:
submission = sample_submission.copy()
submission.iloc[:, 1:] = pred_test

In [ ]:
submission.to_csv('submission/submission.csv', index=False)